@charset "UTF-8";
/* CSS Document */

:root {
  --ratio: 1.4;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));

  --measure: 60ch
}

*{
	box-sizing: border-box;
}



/*EVERY LAYOUT TOOLS*/

.grid{
  display: grid;
  grid-gap: 1.7rem;
}

@supports (width: min(250px, 100%)) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  }
}

.stack {
  --space: var(--s0);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-top: var(--s0);
  margin-bottom: 0;
}

.stack > * + * {
  margin-top: var(--space);
}

.cover {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 5rem;
}

.cover > * {
  margin-top: auto;
  margin-bottom: auto;
}

.cover > main {
  margin-top: auto;
  margin-bottom: auto;
}

.cover > :first-child:not(main) {
  margin-top: 0;
}

.cover > :last-child:not(main) {
  margin-bottom: var(--s1);
}

.center {
  box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: var(--measure);
  display:flex;
  flex-direction: column;
  align-items: center;
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space, 1rem);
  justify-content: flex-start;
  align-items: center;
}

.imposter {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  transform: translate(-50%, -50%);
}

.imposter.contain {
  --margin: 30;
  overflow: auto;
  max-inline-size: calc(100% - (var(--margin) * 2));
  max-block-size: calc(100% - (var(--margin) * 2));
}
  
.box {
  padding: var(--s1);
  border: var(--border-thin) solid;
  --color-light: #fff;
  --color-dark: #000;
  color: var(--color-dark);
  background-color: var(--color-light);
}

.box * {
  color: inherit;
}

.box.invert {
  color: var(--color-light);
  background-color: var(--color-dark);
}

/*CLASSES*/

.wrap {
    max-width: 55rem;
    margin:0 auto;
}

.w-vw-cntr-pad {
	margin-left: var(--s0);
	margin-right: var(--s0);
	padding-bottom: var(--s2);
	max-width: 50vw;
}

.wrapclose{
	max-width: 25rem;
	margin:0 auto;
}

.wrapclosest{
	max-width: 15rem;
	margin:0 auto;
}

	.mywork {
		transition: transform 0.5s ease;
	}
	.mywork:hover{
		-webkit-transform:scale(2);
		transform:scale(2);
	}
	.myworklg {
		transition: transform 0.5s ease;
	}
	.myworklg:hover{
		-webkit-transform:scale(3);
		transform:scale(3);
	}

/*IDs*/

#header-container{
	width: 50vw;
	height: auto;
}

#header-gif{
	display: block;
	width: 100%;
	height: 100%;
}

#whoiam{
	
}

#whoiamgif{
	width: 25rem;
	margin:0 auto;
}

#whoamitext{

}

/*LINKS*/

a:link{
	color: black;
	text-decoration: none;
}

a:visited{
	color: black;
	text-decoration: none;
}

a:hover{
	color: darkorange;
	text-decoration: none;
}


/*TYPE*/

h1{
	font-family: 'Roboto Mono', monospace;
	font-size: var(--s2);
}

h2{
	font-family: 'Roboto Mono', monospace;
	font-size: var(--s1);
}

h3{
	font-family: 'Roboto Mono', monospace;
	font-size: var(--s0);
}

p{
	font-family: 'Open Sans', sans-serif;
	font-size: var(--s0);
}

/*MEDIA QUERIES*/

@media (max-width: 590px){
	#whoiamgif{
		max-width: 80vw;
	}
	#whoiamtext{
		max-width: 80vw;
		margin:0 auto;
	}
	
	.wrap {
    max-width: 75rem;
    margin:0 auto;
}
}

@media (min-width: 591px){
	#whoamitext{
		max-width: 25rem;
		max-height: 25rem;
		overflow: auto;
	}
	
	.wrap{
		max-width: 55rem;
		margin: 0 auto;
	}
}